.container {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--gameOrange);
	background-color: #fff;
	z-index: 10000;
}

.invisible {
	opacity: 0;
}

.terminated {
	display: none;
}

.circle {
	height: 20px;
	width: 20px;
	border: 0;
	border-radius: 50%;
	background-color: #fff;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-duration: 1s;
}

.c1 {
	animation-name: aC1;
}

.c2 {
	animation-name: aC2;
}

.c3 {
	animation-name: aC3;
}

@keyframes aC1 {
	0% {
		transform: scale(1, 1);
		background-color: #fff;
	}

	20% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}

	40% {
		transform: scale(2, 2);
		background-color: var(--gamePink);
	}

	60% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}

	80% {
		transform: scale(1, 1);
		background-color: #fff;
	}

	100% {
		transform: scale(1, 1);
		background-color: #fff;
	}
}

@keyframes aC2 {
	0% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}

	20% {
		transform: scale(2, 2);
		background-color: var(--gamePink);
	}

	40% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}

	60% {
		transform: scale(1, 1);
		background-color: #fff;
	}

	80% {
		transform: scale(1, 1);
		background-color: #fff;
	}

	100% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}
}

@keyframes aC3 {
	0% {
		transform: scale(2, 2);
		background-color: var(--gamePink);
	}

	20% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}

	40% {
		transform: scale(1, 1);
		background-color: #fff;
	}

	60% {
		transform: scale(1, 1);
		background-color: #fff;
	}

	80% {
		transform: scale(1.5, 1.5);
		background-color: var(--gameOrange);
	}

	100% {
		transform: scale(2, 2);
		background-color: var(--gamePink);
	}
}
